body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
  background-color: rgb(255, 223, 191);
  text-align: center;
}

h1{
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: #ffffff;
}

img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

div {
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(255, 223, 191);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

