/* Styles for the body element */
body {
  font-family: Tahoma, sans-serif;
  padding: 0 20px 20px; /* Remove the top padding */
  background-color: rgb(252, 206, 160);
  text-align: center;
}

/* Styles for h1 elements */
h1 {
  color: #ffffff;
  font-family: Tahoma, sans-serif;
  font-size: 50px;
}

/* Styles for h1 elements with class "header" */
h1.header {
  margin-bottom: 10px; /* Adjust this value as needed */
}

/* Styles for h2 elements */
h2 {
  color: #ffffff;
  margin-top: 0; /* Remove the default top margin */
}

/* Styles for img elements */
img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  padding: 10px; /* Add some padding inside the box */
}

/* Styles for button elements */
button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color:  rgb(251, 187, 124);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles for button elements on hover */
button:hover {
  background-color:  rgb(238, 151, 63);
}

/* Styles for div elements */
div {
  margin-bottom: 10px; /* Adjust this value as needed */
  padding: 15px;
  background-color: rgb(255, 220, 185);
  border-radius: 5px;
  box-shadow: 0 0 0px rgba(0,0,0,0.1);
  text-align: center;
  padding-top: 40px; 
}

/* Styles for div elements with class "header-div" */
.header-div {
  background-color: rgb(251, 187, 124);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  padding: 0px;
  height: 103px;
}

/* Styles for elements with class "recipe" */
.recipe {
  background-color: rgb(255, 202, 149);
  color: #000000;
}

/* Styles for elements with class "recipe-header" */
.recipe-header {
  color: #ffffff; 
}

/* Styles for elements with class "recipe-board" */
.recipe-board {
  display: flex;
  justify-content: center;
}

.recipe-board-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-description {
  display: flex;
  flex-direction: column;
  width: 400px; /* Set the width of the box */
  height: 200px;
  padding: 10px; /* Add some padding inside the box */
}

.recipe-summary {
  display: flex;
  margin-bottom: 20px;
  width: 800px; /* Set the width of the box */
  height: 300px; /* Set the height of the box */
  box-sizing: border-box; /* Include padding and border in the box's total width and height */
}


/* Styles for elements with class "image-container" inside elements with class "recipe-board" */
.recipe-board .image-container {
  display: flex;
  justify-content: flex-start;
  gap: 0px;
}

/* Styles for img elements inside elements with class "image-container" */
.recipe-board .image-container img {
  width: 300px; /* adjust this value to your liking */
  height: 300px; /* adjust this value to your liking */
  object-fit: cover;
}

/* Styles for elements with class "top-recipes" */
.top-recipes {
  font-size: 2em; /* Adjust this value as needed */
  text-align: center;
  margin-top: 50px;
  height: 1px;
}

/* Styles to remove list-style from elements */
.no-list-style {
  list-style-type: none;
}




